<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.designapptest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- Quyền cho google map -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Views.PopUpViews"
            android:theme="@style/AppTheme.PopMe"></activity>
        <activity
            android:name=".Views.PopUpComment"
            android:theme="@style/AppTheme.PopMe" />
        <activity android:name=".Views.Main_Menu" />

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="OnLd2Tn4jMkFhbXYvVm2" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="Gxv3RlV6iyGmoFriTniE5A" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="AGRy8MKqkLOaYW/ctM/O6hoe4fJnROU/gCrEBOIcrHE/ZCLKwGZdaVwB8pfZjY92qZYna+na+SdGstZvNYT1yq/pORWDG9TmCSz8Tg8XPTKNpkUzJNiYKYerLP8z2pKdmvJQN1jidBYNaN+vTJLL8/nPfqeGZofmqbT9j3qA0jJZogFoUfZ1YoEmDKg7U5D6ShPCBACpvJgc1RUNnkCqipBSQm1DalAYhvD2i4W2s+AQDc8y5sP9EuPtpTrSQgFhHZnAwFcsMYB4O940iSCidfTdm1cOs0h8OgDKq00ZL/0fDlmc8JK+EvTYH4epILRbKL2uiG9b75+QH1N/afdQeUF16uTphrefdQ2c1VOufpps5Ko1Fg1cIIjaJOlHYNCzmtuGSXPD7ZsjvVjRZC1i6NFs532ASC3F5PN9JgKM7T5tVz9eIyhJnHufsZr9qJW739kVqral0q8nwik+SCIkqt4FO39WfaLhBjuMFMMFHuBbEYoemBOjONVLNN0e/hVhpGN/MSkSVN3d+4/NgtkLGDR5SD1a2XIb7z8JuHaW7qg/mexsAeDLYjoU8+ILBJIJ0N1blSxPaNNdyvDCpp3Q4vtGkDXO/c384Lha+A5mAQyC747Ue3z9X/ZgXVIYj4iPvFpZJdUXC4+oZeHOpNm2ING234nQ8PxkOHCyuR1bMF8=" />
        <meta-data
            android:name="INTENT_NAME"
            android:value="com.example.designapptest" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="false"
            android:label="FindRoomMapService">
            <intent-filter>

                <!-- Vùng nhớ cache lưu trữ map -->
                <action android:name="com.example.designapptest" />
            </intent-filter>
        </service>

        <activity
            android:name=".Views.PopupChooseLocation"
            android:noHistory="true"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".Views.location_search"
            android:noHistory="true" />
        <activity android:name=".Views.searchView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Views.loadImageScreen">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- Thêm meta data cho google map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- End thêm meta data cho google map -->
        <activity android:name=".Views.directMapRoomDetail">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/> <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" /> <activity android:name="com.facebook.CustomTabActivity" android:exported="true"> <intent-filter> <action android:name="android.intent.action.VIEW" /> <category android:name="android.intent.category.DEFAULT" /> <category android:name="android.intent.category.BROWSABLE" /> <data android:scheme="@string/fb_login_protocol_scheme" /> </intent-filter> </activity> -->
        <!-- <activity android:name=".Views.MainActivity"> -->
        <!-- &lt;!&ndash; <intent-filter> &ndash;&gt; -->
        <!-- &lt;!&ndash; <action android:name="android.intent.action.MAIN" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; <category android:name="android.intent.category.LAUNCHER" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; </intent-filter> &ndash;&gt; -->
        <!-- </activity> -->
        <!--
<activity android:name=".Views.roomManagementModel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".Views.commentAndRateMain" />
        <activity android:name=".Views.roomManagementModel">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Views.detailRoom">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- <activity android:name=".postRoomStep1" /> -->
        <!-- <activity android:name=".postRoomStep2" /> -->
        <!-- <activity android:name=".postRoomStep3" /> -->
        <!-- <activity android:name=".postRoomStep4" /> -->
        <activity android:name=".Views.favoriteRoomsView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Views.verifiedRoomsView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Views.postRoomAdapter">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <activity android:name=".Views.postRoomAdapterUpdate">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <activity android:name=".Views.LoginView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.SignUpView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- <activity android:name=".Views.FindRoom"> -->
        <!-- &lt;!&ndash; <intent-filter> &ndash;&gt; -->
        <!-- &lt;!&ndash; <action android:name="android.intent.action.MAIN" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; <category android:name="android.intent.category.LAUNCHER" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; </intent-filter> &ndash;&gt; -->
        <!-- </activity> -->
        <activity android:name=".Views.FindRoomAdd" />
        <activity android:name=".Views.FindRoomDetail" />
        <activity android:name=".Views.FindRoomFilter" />
        <activity android:name=".Views.FindRoomMine">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- <activity android:name=".Views.accountView"> -->
        <!-- &lt;!&ndash; <intent-filter> &ndash;&gt; -->
        <!-- &lt;!&ndash; <action android:name="android.intent.action.MAIN" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; <category android:name="android.intent.category.LAUNCHER" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; </intent-filter> &ndash;&gt; -->
        <!-- </activity> -->
        <activity android:name=".Views.personalPage">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Views.resetPasswordByEmail">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Views.adminView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Views.adminRoomsView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Views.adminHostsView">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->


             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>
        <activity android:name=".Views.adminHostRoomsView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Views.adminRoomsWaitForApprovalView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Views.adminReportRoomView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Views.adminReportRoomDetailView">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>